Dependencies

In [12]:
import pandas as pd
from astropy.io import fits

Note: For all catalogs, I have provided a subset of the possible parameters which I figured would be most useful. If you run into any parameters in the papers not included below which you would like, please let me know and I can send you updated versions of the data

---

### Optical

AMF DR9

Each row represents a new cluster. For each cluster (row):<br>
1. RA, dec - location of cluster (right ascension, declination in degrees)
2. AMF9 - the name of the cluster
3. z - the redshift of the cluster
4. Lk - cluster likelihood
5. Lambda200 - cluster richness
6. c - conentration parameter of cluster
7. str-rh - Richness order of the cluster within its stripe

In [18]:
# Read in amf catalog
amf = pd.read_csv('amf.tsv',sep='\t',header=None)
amf.columns = ['RA','dec','AMF9','z','Lk','Lambda200','r200','rc','c','str-rh']
amf.head()

,RA,dec,ID,AMF9,z,Lk,Lambda200,r200,rc,c,str-rh
0,23.9128,20.7465,4,J013539.1+204447,0.0601,176.9125,219.3663,1.946,0.925,2.104,73.0001
1,260.6324,32.1398,5,J172231.8+320823,0.2252,222.1219,200.7117,1.784,0.625,2.856,35.0001
2,197.8796,-1.3356,6,J131131.1-012008,0.2042,171.6872,192.0829,1.773,0.227,7.792,9.0001
3,250.1485,46.6917,7,J164035.6+464130,0.2248,225.9874,182.3373,1.725,0.495,3.483,36.0001
4,346.3402,21.0378,8,J230521.6+210216,0.1453,121.0124,182.2769,1.775,0.440,4.034,72.0001

SDSS

Each row represents a new **source**, which can either be a galaxy or a star. For each source (row):<br>
1. RA, dec - location of source (right ascension, declination in degrees)
2. Class - type of object (3=galaxy, 6=star)
3. SDSS-DR9 - name of the object
4. Q - quality of the object

This is only a small subset of the total catalog

In [19]:
# Read in amf catalog
sdss = pd.read_csv('sdss.tsv',sep='\t',header=None)
sdss.columns = ['RA','dec','Class','SDSS-DR9','Q']
sdss.head()

           RA        dec  Class             SDSS-DR9  Q  zsp
0  127.338857  47.153671      3  J082921.32+470913.2  3  NaN
1  127.017014  46.773664      3  J082804.08+464625.1  3  NaN
2  127.008106  46.779394      6  J082801.94+464645.8  3  NaN
3  127.006288  46.783849      3  J082801.50+464701.8  3  NaN
4  127.014814  46.787381      6  J082803.55+464714.5  3  NaN

---

### SZ

AdvACT

Each row represents a new cluster. For each cluster (row):<br>
1. Name - name of the cluster
2. RA, dec - location of cluster (right ascension, declination in degrees)
3. SNR - Signal to noise ratio
4. z - redshift of the cluster

In [25]:
hdul = fits.open("../overlaps/masks/DR5_cluster-catalog_v1.1.fits")
data = hdul[1].data
adv = pd.DataFrame({'Name':data['name'],
                    'RA':data['RADeg'],
                    'dec':data['decDeg'],
                    'SNR':data['SNR'],
                    'z':data['redshift']})
adv.head()

                  Name        RA        dec       SNR         z
0  ACT-CL J0000.0-3837  0.020898 -38.626732  4.793987  0.300599
1  ACT-CL J0000.2-4357  0.060601 -43.955494  7.678747  0.878131
2  ACT-CL J0000.3-2805  0.089900 -28.091249  5.665297  0.282570
3  ACT-CL J0000.3-3936  0.083333 -39.604169  4.058639  0.356218
4  ACT-CL J0000.4-0102  0.113533  -1.044811  4.997832  0.438800

---

If you'd like to save any of the above to a csv, uncomment and use the following:

In [26]:
# adv.to_csv('adv.csv', header=None, index=False)

In [27]:
# amf.to_csv('amf.csv', header=None, index=False)

In [28]:
# sdss.to_csv('sdss.csv', header=None, index=False)